EXPO_PUBLIC_SUPABASE_URL=https://szpxqkdklttzovjdbdzz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6cHhxa2RrbHR0em92amRiZHp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxOTA0ODgsImV4cCI6MjA5Mzc2NjQ4OH0.TCXDr9hUjDkt_C9f7dWidQsLPFhBBWrvrvPBXyFtyvo
